
        <!-- Create Subject code -->


          <div class="container">
            <span class="opblock-summary-path">Create Subject</span>
            <div class="input-container">
              <input type="text" [(ngModel)]="subjectName" placeholder="Enter Subject name">
              <input type="text" [(ngModel)]="imageUrl" placeholder="Enter ImageUrl">
              <button (click)="setSubject()">Set Subject</button>
            </div>
          
      </div>

      <!-- Edit subject Name -->
      
      <div class="container">
        <span class="opblock-summary-path">Edit Subject</span>
        <div class="input-container">
          <input type="text" [(ngModel)]="subjectId" placeholder="Enter SubjectId">
          <input type="text" [(ngModel)]="newsubjectName" placeholder="Enter Subject Name">
          <button (click)="updateSubject()">Update Subject Name</button>
        </div>
        </div>

        <!-- FOR DELETE SUBJECT Name CODE HERE -->
        <div class="container">
          <span class="opblock-summary-path"> Delete Subject</span>
          <div class="input-container">
            <input type="text" [(ngModel)]="deletesubjectId" placeholder="Enter SubjectId">
            <button (click)="deleteSubject()">Delete Subject</button>
          </div>
          </div>

          <!-- TOGGLE SUBJECT STATUS -->

        <div class="container">
          <span class="opblock-summary-path"> Toggle Subject Status </span>
          <div class="input-container">
            <input type="text" [(ngModel)]="deletesubjectId" placeholder="Enter SubjectId">
            <button (click)="toggleSubject()"> Toggle Subject</button>
          </div>
          </div>

     
    <div class="container">
            <span class="opblock-summary-path">Fetch Subject</span>
            <div class="input-container">
            <input type="number" [(ngModel)]="fetchCourseId" placeholder="Enter Level Id">
            <input type="number" [(ngModel)]="fetchsubCourseId" placeholder="Enter Grade">
            <input type="string" [(ngModel)]="fetchSubjectName" placeholder="Enter Subject Name.">
          
            <button (click)="fetchSubject()">Fetch Subject</button>

        </div></div>
           
        <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Subject Name</th>
          <th>Subcourse Name</th>
         
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of Subjects">
          <td>{{ subject.id }}</td>
          <td>{{ subject.name }}</td>
          <td>{{ subject.subCourses[0]?.name }}</td>
        
            </tr>
        </tbody>
        </table>
        <!-- </div>
          </div> -->

      
  
  
