.container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
  
    &:hover {
      background-color: #f5f5f5;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .opblock-summary-path {
      font-weight: bold;
      margin-bottom: 10px;
      display: block;
      color: #333;
      font-size: 1.2em;
    }
  
    .input-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 10px;
      margin-top: 10px;
  
      input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        transition: border-color 0.3s;
        width: 100%;
  
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
  
      button {
        grid-column: span 2;
        padding: 8px 16px;
        border: none;
        border-radius: 3px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        justify-self: right;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  
  table {
    width: 130%;
    margin-top: 20px;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
    }

    th {
      background-color: #f5f5f5;
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }

