<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">UpdateStudentCourseSubCourse
    <div>
        <label for="studentId">Student ID:</label>
        <input type="text" id="studentId" [(ngModel)]="studentId">
      </div>
      <div>
        <label for="subCourseId">Subcourse ID:</label>
        <input type="text" id="subCourseId" [(ngModel)]="subCourseId">
      </div>
      <div>
        <button (click)="updateStudentCourseSubCourse()">Update</button>
      </div>
      
    </div>
  </div>


