    <mat-nav-list>
      <div class="logo py-4">
      </div>
      <mat-divider></mat-divider>
      <h2 matSubheader class="mt-2" style="color: white;">APPLICATIONS</h2>

       <a mat-list-item routerLink="Home" routerLinkActive="selected" #home><h6
          matSubheader class="mt-2" style="color: white;">Home </h6></a>

          <a mat-list-item routerLink="college" routerLinkActive="selected"><h6
            matSubheader class="mt-2" style="color: white;">College Management
          </h6> </a>

      <a mat-list-item routerLink="category" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">Course Management
        </h6> </a>

    
      <a mat-list-item routerLink="discussion" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">Discussion Management
        </h6> </a>

        <a mat-list-item routerLink="notification" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">FCM Notification </h6>
      </a>

      <a mat-list-item routerLink="note" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">Note Management </h6>
      </a>
      <a mat-list-item routerLink="noticeBoard" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">Notice Management
        </h6> </a>
      <a mat-list-item routerLink="quote" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">Quote Management </h6>
      </a>
      <a mat-list-item routerLink="subject" routerLinkActive="selected"> <h6
          matSubheader class="mt-2" style="color: white;">Subject Management
        </h6></a>
        <a mat-list-item routerLink="topic" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">Topic Management </h6>
      </a>
      <a mat-list-item routerLink="test" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">Test Management</h6>
      </a>
     
      <a mat-list-item routerLink="user" routerLinkActive="selected"> <h6
          matSubheader class="mt-2" style="color: white;">UserManagement
        </h6></a>
      <!-- <a mat-list-item routerLink="usernote" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">UserNote
          Management</h6> </a> -->

      <!-- <a mat-list-item routerLink="chaptertest" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">Chapter Test </h6>
      </a> -->
      <a mat-list-item routerLink="vdoadmin" routerLinkActive="selected"><h6
        matSubheader class="mt-2" style="color: white;">VideoCipherAdmin</h6>
    </a>
      
      <a mat-list-item routerLink="vdo" routerLinkActive="selected"><h6
          matSubheader class="mt-2" style="color: white;">VdoCipher</h6> </a>
        

    </mat-nav-list>
   
 
  