.container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 30px;
  
    .opblock-summary-path {
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 10px;
      display: block;
      color: #333;
    }
  
    .input-container {
      margin-bottom: 10px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input[type="text"],
      input[type="number"],
      input[type="description"],
      textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        transition: border-color 0.3s;
  
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
  
      textarea {
        resize: vertical;
      }
    }
  
    button {
      padding: 8px 16px;
      border: none;
      border-radius: 3px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 15px;
  
      &:hover {
        background-color: #0056b3;
      }
    }
    
    
  }
  
  .fetch-videos {
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 200px;

  
    label {
      margin-right: -380px;
    }
  
    input {
      padding: px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-left: 400px;
      margin-top: 30px;
    }
  
    button {
      padding: 5px 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  
  .video-table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 35px;
  
    th, td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
    }
  
    th {
      background-color: #f2f2f2;
    }
  
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
    tr:hover {
      background-color: #f1f1f1;
    }
  }
  