:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #0f172a;
  }
  mat-list-item :hover{
    background-color:rgb(11, 25, 148) ;
  }


  .mat-subheader {
    color: #f1f1f1;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }

.mat-nav-list{
    color: white;

  }
