


<div class="container">
  <span class="opblock-summary-path">User Management</span>
  <div class="input-container">

    
    <button (click)="goTo('registerstudent')" id="registerbutton">Register Student</button>
    <a mat-list-item routerLink="registerstudent" routerLinkActive="selected"> </a> 

    <button (click)="goTo('editstudent')" id="editbutton">Edit Student</button>
    <a mat-list-item routerLink="editstudent" routerLinkActive="selected"> </a> 

    <button (click)="goTo('subcourse')" id="subcourse">Update Student SubCourse</button>
    <a mat-list-item routerLink="subcourse" routerLinkActive="selected"> </a> 

    <button (click)="goTo('getuser')" id="subcourse">Get Student</button>
    <a mat-list-item routerLink="getuser" routerLinkActive="selected"> </a> 
     
   

 
</div>
</div>





