.container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  .opblock-summary-path {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
  }

  .input-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    input[type="text"],
    input[type="number"],
    input[type="string"],
    input[type="file"] {
      flex: 1;
      margin-right: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    button {
      padding: 5px 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
    }

    th {
      background-color: #f1f1f1;
      font-weight: bold;
    }

    td {
      text-align: center;
    }
  }
}
.container1 {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  .opblock-summary-path {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
  }

  .input-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    input[type="text"],
    input[type="number"],
    input[type="file"] {
      flex: 1;
      margin-right: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px; // Add margin bottom to create space between fields
    }

    .file-inputs {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 10px;
      // margin-left: 200px;

      input[type="file"] {
        margin-bottom: 10px;
      }
    }

    button {
      flex: 1;
      padding: 5px 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
