<div class="dashboard">
  <h2>Welcome to Admin Dashboard</h2>

  <div class="management-sections">
      <div class="section" routerLink="/college">
          <h3>College Management</h3>
          <p>Manage colleges, set college information, and retrieve college details.</p>
      </div>
      <div class="section" routerLink="/category">
          <h3>Education Standard Management</h3>
          <p>Create, edit, and delete education levels, grades, and subjects.</p>
      </div>
      <div class="section" routerLink="/discussion">
          <h3>Discussion Management</h3>
          <p>View and manage discussions.</p>
      </div>
      <div class="section" routerLink="/registerstudent">
          <h3>Register Student</h3>
          <p>Register new students and update student information.</p>
      </div>
      <div class="section" routerLink="/editstudent">
          <h3>Edit Student</h3>
          <p>Edit student names, IDs, phone numbers, and emails.</p>
      </div>
      <div class="section" routerLink="/note">
          <h3>Note Management</h3>
          <p>Set, delete, and fetch notes.</p>
      </div>
      <div class="section" routerLink="/subject">
          <h3>Subject Management</h3>
          <p>Create, delete, and manage subjects.</p>
      </div>
      <div class="section" routerLink="/topic">
          <h3>Topic Management</h3>
          <p>Set, manage, delete, and retrieve topics.</p>
      </div>
      <div class="section" routerLink="/test">
          <h3>Test Management</h3>
          <p>Manage tests and add new tests.</p>
      </div>
      <div class="section" routerLink="/user">
          <h3>User Management</h3>
          <p>Manage users, add new users, and edit user details.</p>
      </div>
      <div class="section" routerLink="/noticeBoard">
          <h3>Notice Board</h3>
          <p>Manage notices and add new notices.</p>
      </div>
      <div class="section" routerLink="/vdoadmin">
          <h3>Video Upload</h3>
          <p>Upload lecture videos.</p>
      </div>
      <div class="section" routerLink="/notification">
          <h3>FCM Notification Management</h3>
          <p>Manage FCM notifications and send new notifications.</p>
      </div>
      <div class="section" routerLink="/quote">
          <h3>Quotes Management</h3>
          <p>Send new quotes.</p>
      </div>
  </div>
</div>
