.container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .opblock-summary-path {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-size: 1.2em;
  }

  .input-container {
    display: grid;
    grid-gap: 10px;
    margin-top: 10px;

    div {
      display: flex;
      align-items: center;
    }

    label {
      flex: 1;
      margin-right: 10px;
      font-weight: bold;
    }

    input,
    select {
      flex: 2;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      transition: border-color 0.3s;
      width: 100%;

      &:focus {
        outline: none;
        border-color: #007bff;
      }
    }

    button {
      padding: 8px 16px;
      border: none;
      border-radius: 3px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      justify-self: right;
      margin-top: 10px;
      
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
