.container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
  
    &:hover {
      background-color: #f0f0f0; /* Slightly darker color on hover */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .opblock-summary-path {
      font-weight: bold;
      margin-bottom: 10px;
      display: block;
      color: #333;
      font-size: 1.2em;
    }
  
    .input-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  
      input {
        flex: 1;
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        transition: border-color 0.3s;
  
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
  
      button {
        padding: 8px 16px;
        border: none;
        border-radius: 3px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
}